
/* removing the default margin and padding */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* making all the image a 100% width */
img{
  width: 100%;
}

/* having a general container for the project */

 .container{
  width: 100%;
  height: 100vh;
  padding:0 20px ;
  position: relative;
} 

/* the first section withe header */
.sectionOne{
  background-image: url(img/Rectangle\ 7.png);
  position: absolute;
  top:0px;
  left:0;
  width:100%;
  height: 1049px;
}

/* header styling */

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2.5rem;
}

span{
  border-bottom: 1px solid white;
  position: absolute;
  width: 1200px;
height: 0px;
left: 90px;
top: 147px
}

header ul{
  display: flex;
  align-items: center;
  gap:60px;
}


ul li a{
  color:#fff;
  font-family: 'Nunito';
font-size: 16px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
display: flex;
align-items: center;
}

header li{
  list-style: none;
}

a{
  text-decoration: none;
}

header button{
padding: 11px 20px;
background: #0074EF;
border-radius: 10px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 27px;
color: #fff;
display: flex;
align-items: center;
gap:15px

}

/* use flex for the image and words section */
.informationDiv{
  display: flex;
  justify-content: space-between; 
  margin-top: 2rem;

}
 .info{
margin-top: 6rem;
color: #fff;
}

.info p{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0;

}

.info h1{
  font-family: Nunito;
font-size: 48px;
font-weight: 700;
line-height: 62px;
letter-spacing: 0em;
text-align: left;
font-family: Inter;
font-size: 40px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0em;
text-align: left;  
}
 .info .span{
  color: #0074EF;
 }

h3{
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 31px;
padding-top: 50px;
}

.image{ 
width: 450px;
}


/* add the buildwith icons  */
.buildWith{
  margin-top: 11rem;
}

.buildWith h4{
  font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 35px;
}

.buildWith .icons{
  display: flex;
  align-items: center;
  gap:15px;
  margin-top: 1rem;
}

.buildWith .iconDiv img{
  width: 20px;

}
.buildWith .iconDiv{
  height: 40px;
  width: 40px;
  border-radius: 50%;
color: #fff;
}

.exploring{
  position: absolute;
  top:990px;
  left:0;
  width:100%;
  height: 149px;

}

.exploring .exploreDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.exploreDiv h3{
  font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 29px;
line-height: 48px;
color: #152C5B;
}

.exploreDiv p{
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
color: #718096;
}

.exploring .exploreButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin-top:70px;
}
.exploreButton .btn2{
  width: 384.58px;
height: 62px;
left: 867.57px;
top: 1224px;
font-family:'Nunito';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #fff;
border-radius: 10px;
background: #0E0B2B;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
gap:15px
}

.exploreButton .btn1{
  width: 383.58px;
height: 62px;
left: 475px;
top: 1224px;
font-family:'Nunito';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #fff;
background: #0074EF;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
gap:10px
}


.exploring .explorepremium{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.exploring .explorepremium h4{
  font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 29px;
line-height: 48px;
color: #152C5B;
}


.exploring .explorepremium p{
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
padding-top: 10px;
color: #718096;
}

.exploring .explorePremiumIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:7rem;
  margin-top: 4rem;
}

.explorePremiumIcons h1{
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 27px;
color: #152C5B;
}

.explorePremiumIcons p{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #152C5B;
  }

   .explDiv{
    display: flex;
    align-items: center;
    gap:20px;
  }

.explDiv .icon{
  color: #0E0B2B;
  font-size: 30px;
}

/* thirdsection */

.rankingsection{
  background-image: url(img/Rectangle\ 13.png);
   position: absolute;
width: 100%;
height: 700px;
top: 1612px;
left: 0;
}

.rankingwords{
position: absolute;
top: 180px;
left:313px;
font-family: 'Nunito';
font-style: normal;
color: #FFFFFF;
display: flex;
flex-direction: column;
justify-content: center;
}

.rankingwords h4{ 
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
text-align: center;
color: #FFFFFF;

}

.rankingwords p{
  text-align: center; 
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
color: #FFFFFF;
padding-top: 10px;
}


 .rankingDivs{
  position: absolute;
left: 120px;
top: 367px;
  display: grid;
  grid-template-columns:repeat(3,290px);
  row-gap:10px;
  column-gap: 3rem;
  align-items: center;
  /* justify-content: space-between;  */
 
}


.rankingDivs .div1{
  background-color: #fff;
  margin-bottom: 10px;
  padding:20px 20px;
  border-radius: 5px;
display: flex;
gap: 20px;
align-items: center;
}


.div1 img{
  width: 40px;
 
}

.div1 p {
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #152C5B;
}

.informationSection{
  height: 500px;
  position: absolute;
  top:2310px;
  left:0;
  width:1728px;
  height: 1049px;
  display: flex;
  gap: 30px;
  margin-top: 3rem;
}

.informationSection .image{
  width: 600px;
  margin-top: 50px;
}

.words h3{
  font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #152C5B;
}

.words p{
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 34px;
color: #718096;
padding: 60px 0;
}

.list{
  display: flex;
  gap:10px;
}

.list h4{ 
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #152C58;
padding-bottom:19px ;
}

.list .bluebtn{
  height: 20px;
  width: 20px;
  border-radius:50% ;
  background: rgba(85, 172, 238, 0.5);
}

.list .yellowbtn{
  height: 20px;
  width: 20px;
  border-radius:50% ;
  background: rgba(252, 205, 17, 0.3);
}

.list .greenbtn{
  height: 20px;
  width: 20px;
  border-radius:50% ;
  background: #10B28B;
}

.blueBackground{
  position: absolute;
width: 900px;
height: 308px;
left: 168px;
top: 567px;
background: #152C58;
border-radius: 0px 30px;
}

.blueBackground .btn1{
  display: flex;
flex-direction: row;
align-items: center;
padding: 20px 84px;
gap: 27px;
position: absolute;
width: 383.58px;
height: 62px;
left: 391px;
top: 108px;
background: #fff;
color: #152C5B;
font-family: 'Nunito';
font-size: 17px;
border-radius: 10px;
}

footer{
  background-image: url(img/Rectangle\ 13.png);
  position: absolute;
width:100%;
height: 1002px;
left: 0;
top: 3400px;

}

.footeerone{
  position: absolute;
width: 494px;
height: 134px;
left: 110px;
top: 200px;
font-family: 'Nunito';
font-style: normal;
color: #FFFFFF;
}

.footerDiv .exploreButton{
  display: flex;
flex-direction: row;
align-items: center;
padding: 20px 69px;
width:800px;
gap: 27px;
position: absolute;
height: 62px;
left: 580px;
top: 200px;
}

.footerDiv h4{
  font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 48px;
}
.footerDiv p{
  font-family: 'Nunito';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 30px; 
padding-top: 20px;
}

.footerDiv .exploreButton .btn1{
  background-color: #fff;
  color:#0E0B2B;
}

.footerDiv .exploreButton .btn2{
  background-color: #0074EF;
  color:#fff
}
.divnav img{
  position: absolute;
  width: 150px;
  height: 70px;
  left: 95px;
  top: 450px
}

.divnav p {
  position: absolute;
width: 320px;
height: 96px;
left: 89px;
top: 600px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}

.divnav2 {
  position: absolute;
left: 940px;
top: 450px;
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

.divnav3{
  position: absolute;
  left: 650px;
  top: 450px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
}

.divnav4{
  position: absolute;
left: 1100px;
top: 450px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
line-height: 24px;
color: #FFFFFF;
}

.mainnav{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .mainnav ul li{
  font-size: 13px;
  font-family: 'Nunito';
  font-weight: 400;
display: flex;
align-items: center;
padding-bottom: 3px;
}

footer .mainnav h4{
  padding-bottom: 10px;
  font-size: 15px;
  font-size: 13px;
  font-family: 'Nunito';
  font-weight: 400;
display: flex;
align-items: center
}


.copywrite p{
  position: absolute;
  font-size: 13px;
    right: 900px;
  bottom: 100px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
}